# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log